	<style type="text/css">
	.head {
		margin: 0 auto;
		width: 100vw;
		height: 50px;
		background: #fff;
		border-top: 2px solid orange;
		text-align: center;
	}
	
	.banner {
		position: fixed;
		padding-left: 180px;
		top: 10px;
		width: 1260px;
		height: 40px;
		background: #fff;
		margin: 0 auto;
		display:flex;
		align-items:center;
	}
	.banner p{
		float: left;
		margin-right: 31px;
	}
	.banner p img{
		
	}
	.banner input{
		width: 470px;
		height: 30px;
		background:  440px #eee;
		border: 1px solid #ddd;
		padding-left: 9px;
	}
	.banner input:focus{
		border: 1px solid orange;
		background:  440px #fff;
		outline: none;
	}
	.search_logo{
		position: absolute;
		left: 740px;
		
	}
	.search_logo:hover{
		cursor: pointer;
	}
	.banner .home{
		background: url(../img/home.png) 0 0 no-repeat;
		padding-left: 30px;
	}
	.banner .video{
		background: url(../img/video.png) 0 0 no-repeat;
		padding-left: 30px;
	}
	.banner .found{
		background: url(../img/found.png) 0 0 no-repeat;
		padding-left: 30px;
	}
	.banner .game{
		background: url(../img/game.png) 0 0 no-repeat;
		padding-left: 30px;
	}
	.banner .personal{
		background: url(../img/personal.png) 0 0 no-repeat;
		padding-left: 30px;
	}
	</style>
